<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introducción
Con este cuaderno de Python:

1. Comprenderás el conjunto de datos Spacex.
2. Cargarás el conjunto de datos en la tabla correspondiente de una base de datos DB2.
3. Ejecutarás consultas SQL para responder a las preguntas de la tarea.

## Resumen del conjunto de datos

SpaceX ha captado la atención mundial por una serie de hitos históricos.

Es la única empresa privada que ha logrado el regreso de una nave espacial desde la órbita baja, lo que logró por primera vez en diciembre de 2010.
SpaceX anuncia en su sitio web los lanzamientos del cohete Falcon 9 con un coste de 62 millones de dólares, mientras que otros proveedores cuestan más de 165 millones de dólares cada uno. Gran parte del ahorro se debe a que SpaceX puede reutilizar la primera etapa.

Por lo tanto, si podemos determinar si la primera etapa aterrizará, podemos determinar el coste del lanzamiento.

Esta información puede utilizarse si otra empresa desea pujar contra SpaceX por el lanzamiento de un cohete.

Este conjunto de datos incluye un registro de cada carga útil transportada durante una misión de SpaceX al espacio exterior.

 ### Descarga los conjuntos de datos

Esta tarea requiere que cargues el conjunto de datos de SpaceX.

En muchos casos, el conjunto de datos que se analizará está disponible como archivo .CSV (valores separados por comas), posiblemente en internet. Haz clic en el siguiente enlace para descargar y guardar el conjunto de datos (archivo .CSV):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Conjunto de datos de SpaceX</a>

In [ ]:
!pip install sqlalchemy==1.3.9

### Conectarse a la base de datos

Primero, carguemos la extensión SQL y establezcamos una conexión con la base de datos.

In [ ]:
!pip install ipython-sql
!pip install ipython-sql prettytable

In [4]:
%load_ext sql

In [5]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
!pip install -q pandas

In [7]:
%sql sqlite:///my_data1.db

In [8]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Nota: El siguiente código se agregó para eliminar filas en blanco de la tabla**

In [9]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [10]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

In [ ]:
%sql select * from SPACEXTABLE

## Tareas

Ahora escriba y ejecute consultas SQL para resolver las tareas asignadas.

**Nota: Si los nombres de las columnas están en mayúsculas y minúsculas, escríbalos entre comillas dobles.
Por ejemplo, "Landing_Outcome"**

### Tarea 1

##### Mostrar los nombres de los sitios de lanzamiento únicos de la misión espacial

In [12]:

%%sql select distinct("Launch_Site") 
      from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Tarea 2

##### Mostrar 5 registros donde los sitios de lanzamiento comiencen con la cadena "CCA"

In [14]:
%sql SELECT * FROM SPACEXTBL WHERE Launch_site LIKE 'CCA%' LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

Mostrar la masa total de la carga útil transportada por los cohetes lanzados por la NASA (CRS)

In [15]:
%%sql
SELECT sum(PAYLOAD_MASS__KG_) as Total_PayloadMass
FROM SPACEXTBL
WHERE Customer = 'NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1
##### Muestra la masa promedio de carga útil transportada por la versión de propulsor F9 v1.1

In [19]:
%sql SELECT * FROM SPACEXTBL WHERE Booster_Version like 'F9 v1.1%'

 * sqlite:///my_data1.db
Done.

[('2013-09-29', '16:00:00', 'F9 v1.1  B1003', 'VAFB SLC-4E', 'CASSIOPE', 500, 'Polar LEO', 'MDA', 'Success', 'Uncontrolled (ocean)'),
 ('2013-12-03', '22:41:00', 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt'),
 ('2014-01-06', '22:06:00', 'F9 v1.1', 'CCAFS LC-40', 'Thaicom 6', 3325, 'GTO', 'Thaicom', 'Success', 'No attempt'),
 ('2014-04-18', '19:25:00', 'F9 v1.1', 'CCAFS LC-40', 'SpaceX CRS-3', 2296, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Controlled (ocean)'),
 ('2014-07-14', '15:15:00', 'F9 v1.1', 'CCAFS LC-40', 'OG2 Mission 1  6 Orbcomm-OG2 satellites', 1316, 'LEO', 'Orbcomm', 'Success', 'Controlled (ocean)'),
 ('2014-08-05', '8:00:00', 'F9 v1.1', 'CCAFS LC-40', 'AsiaSat 8', 4535, 'GTO', 'AsiaSat', 'Success', 'No attempt'),
 ('2014-09-07', '5:00:00', 'F9 v1.1 B1011', 'CCAFS LC-40', 'AsiaSat 6', 4428, 'GTO', 'AsiaSat', 'Success', 'No attempt'),
 ('2014-09-21', '5:52:00', 'F9 v1.1 B1010', 'CCAFS LC-40', 'SpaceX CRS-4', 2216, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Uncontrolled (ocean)'),
 ('2015-01-10', '9:47:00', 'F9 v1.1 B1012', 'CCAFS LC-40', 'SpaceX CRS-5', 2395, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)'),
 ('2015-02-11', '23:03:00', 'F9 v1.1 B1013', 'CCAFS LC-40', 'DSCOVR', 570, 'HEO', 'U.S. Air Force NASA NOAA', 'Success', 'Controlled (ocean)'),
 ('2015-03-02', '3:50:00', 'F9 v1.1 B1014', 'CCAFS LC-40', 'ABS-3A Eutelsat 115 West B', 4159, 'GTO', 'ABS Eutelsat', 'Success', 'No attempt'),
 ('2015-04-14', '20:10:00', 'F9 v1.1 B1015', 'CCAFS LC-40', 'SpaceX CRS-6', 1898, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)'),
 ('2015-04-27', '23:03:00', 'F9 v1.1 B1016', 'CCAFS LC-40', 'Turkmen 52 / MonacoSAT', 4707, 'GTO', 'Turkmenistan National Space Agency', 'Success', 'No attempt'),
 ('2015-06-28', '14:21:00', 'F9 v1.1 B1018', 'CCAFS LC-40', 'SpaceX CRS-7', 1952, 'LEO (ISS)', 'NASA (CRS)', 'Failure (in flight)', 'Precluded (drone ship)'),
 ('2016-01-17', '18:42:00', 'F9 v1.1 B1017', 'VAFB SLC-4E', 'Jason-3', 553, 'LEO', 'NASA (LSP) NOAA CNES', 'Success', 'Failure (drone ship)')]

In [ ]:
%%sql
SELECT distinct("Booster_Version")
FROM SPACEXTBL

In [27]:
%%sql
SELECT round(avg(PAYLOAD_MASS__KG_),3) as Avg_PayloadMass
FROM SPACEXTBL
WHERE Booster_Version like 'F9 v1.1%'

 * sqlite:///my_data1.db
Done.

[(2534.667,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.
##### Enumere la fecha en la que se logró el primer aterrizaje exitoso en la plataforma de tierra.


_Hint:Use min function_

In [29]:
%%sql 
select min(Date) as FirstSuccesfulLandingDate
from SPACEXTBL
where Landing_Outcome='Success (ground pad)'

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

##### Enumere los nombres de los propulsores que tienen éxito en los barcos no tripulados (drone ship) y tienen una masa de carga útil mayor a 4000 pero menor a 6000

In [ ]:
%%sql 
select distinct("Booster_Version") from SPACEXTABLE
where Landing_Outcome = 'Success (drone ship)' and 
PAYLOAD_MASS__KG_ between 4000 and 6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

In [27]:
%sql select distinct("Landing_Outcome") from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

### Task 7




##### List the total number of successful and failure mission outcomes
##### Enumere el número total de resultados de misiones exitosas y fallidas

In [31]:
%%sql
SELECT 'Success' AS Outcome, COUNT(*) AS Total
FROM SPACEXTBL
WHERE "Mission_Outcome" LIKE '%Success%'

UNION ALL

SELECT 'Failure' AS Outcome, COUNT(*) AS Total
FROM SPACEXTBL
WHERE "Mission_Outcome" LIKE '%Failure%'

 * sqlite:///my_data1.db
Done.

[('Success', 100), ('Failure', 1)]

### Task 8



##### List all the booster_versions that have carried the maximum payload mass. Use a subquery.
##### Enumere todas las booster_versions que han transportado la carga útil máxima. Use una subconsulta.

In [ ]:
%%sql
SELECT Booster_Version, 
Payload_mass__kg_
FROM SPACEXTBL
WHERE Payload_mass__kg_ = (
  SELECT MAX(Payload_mass__kg_)
  FROM SPACEXTBL
)
order by Booster_Version;

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1049.7 ', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1060.3', 15600)]

In [37]:
%%sql
SELECT MAX(Payload_mass__kg_)
    FROM SPACEXTBL

 * sqlite:///my_data1.db
Done.

[(15600,)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

##### Enumere los registros que mostrarán los nombres de los meses, los resultados de aterrizaje fallido en el dron, las versiones de los propulsores y el sitio de lanzamiento para los meses del año 2015.

**Nota: SQLLite no admite nombres de meses. Por lo tanto, debe usar substr(Date, 6,2) como mes para obtener los meses y substr(Date,0,5)='2015' para el año.**

In [ ]:
%%sql 
SELECT 
  "Landing_Outcome", "Booster_Version", "Launch_Site", 
  CASE substr(Date, 6, 2)
    WHEN '01' THEN 'January'
    WHEN '02' THEN 'February'
    WHEN '03' THEN 'March'
    WHEN '04' THEN 'April'
    WHEN '05' THEN 'May'
    WHEN '06' THEN 'June'
    WHEN '07' THEN 'July'
    WHEN '08' THEN 'August'
    WHEN '09' THEN 'September'
    WHEN '10' THEN 'October'
    WHEN '11' THEN 'November'
    WHEN '12' THEN 'December'
  END AS month,  substr(Date, 0, 5) AS year
FROM SPACEXTABLE  
WHERE 
  "Landing_Outcome" = "Failure (drone ship)" AND 
  substr(Date, 0, 5) = '2015'
ORDER BY 
  "Booster_Version", "Launch_Site", substr(Date, 6, 2);

 * sqlite:///my_data1.db
Done.

[('Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40', 'January', '2015'),
 ('Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40', 'April', '2015')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.
##### Clasifique el recuento de resultados de aterrizaje (como Falla (nave no tripulada) o Éxito (plataforma de tierra)) entre la fecha del 4 de junio de 2010 y el 20 de marzo de 2017, en orden descendente.

In [37]:
%%sql
SELECT Landing_Outcome, 
COUNT(*) AS Count
FROM SPACEXTBL
WHERE Date BETWEEN '2010-06-04' 
AND '2017-03-20'
GROUP BY Landing_Outcome
ORDER BY Count DESC

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>